@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700;900&display=swap');

body {
  margin: 0;
  background-color: #ffffff;
}

/* Navigation Bar */
#header-img {
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  align-items: center;
  height: 10vh;
}

.logo {
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  font-weight: 900;
  color:#ffffff;
  margin: 0;
  padding: 10px;
}

#header {
  position: fixed;
  background-color:#83A858;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 10vh;
  box-shadow: 1px 1px 70px #000000;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;    
  width: 80vw;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 80vw;
}

li {
  list-style: none;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
}

a {
  text-decoration: none;
  color:#ffffff;
  font-family: 'Kanit';
  font-weight: 300;
}

a:hover {
  color: #5C8126;
  transition: 0.4s;
}

@media(max-width:400px) {
  
}

/* Banner Photo */
.banner {
  width: 100%;
}

/* E-mail Form */
#form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#email {
  border: none;
  border-radius: 5px;
  background-color:#BCE295;
  display: block;
  margin: auto;
  width: 20vw;
  padding: 15px;
  width: 40vw;
  outline: none;
}

::placeholder {
  color:#5C8126;
}

#submit {
  display: block;
  margin: auto;
  width: 150px;
  padding: 10px;
  margin-top: 30px;
  border-radius: 5px;
}

/* Features Section */
#features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  background-color: #E1FACB;
}

#featType {
  display: flex;
  flex-direction: column;
}

#premiumMaterials, #fastShipping, #qualityAssurance {
  display: flex;
  flex-direction: row;
  max-width: 50vw;
}

#premiumMaterials {
  margin-top: 30px;
}

#qualityAssurance {
  margin-bottom: 30px;
}

.icon {
  width: 5vw;
}

#featIcon {
  padding: 25px;
  margin-right: 25px;
}

.featTitle {
  color:#5C8126;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  font-size: 20px;
}

.featDescription {
  color:rgb(130, 130, 130);
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
  margin: 0;
}

/* Video Section */
.titleSection {
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  text-align: center;
  color:rgb(130, 130, 130);
  padding: 20px;
}

#video {
  display: block;
  margin: auto;
  padding-bottom: 60px;
  width: 1000px;
  height: 600px;
}

@media(max-width: 1000px) {
  #video {
    max-width: 90vw;
  }
}

/* Pricing Section */
#pricing {
  background-color: #E1FACB;
  padding: 70px;
  display: flex;
  flex-direction: row;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  border: 2px solid #83A858;
  border-radius: 10px;
  margin: 30px;
  width: 40vw;
}

.product:hover {
  background-color: #cbf0a1;
  transition: 1.5s;
}

.type {
  background-color:#83A858;
  display: flex;    
  width:100%;
  padding: 10px 0px 10px 0px;
}

.avocadoSize {
  color:#ffffff;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  display: block;
  margin: auto;
}

.price {
  color:#83A858;
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  font-size: 25x;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.description {
  color:rgb(130, 130, 130);
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 16px;
  padding: 0px 20px 0px 20px;
}

.btn {
  background-color:#83A858;
  color:#ffffff;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 17px;
  border-style: none;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  margin: 10px 0px 30px 0px;
}

.btn:hover {
  background-color: #5F832A;
  transition: 0.4s;
}