@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700;900&display=swap');

body {
    margin: 0;
    background-color: #FBEFF3;
}

#header-img {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    height: 10vh;
}

.logo {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    font-weight: 900;
    color:#FBEFF3;
    margin: 0;
    padding: 10px;
}

#header {
    position: fixed;
    background-color:#DF7C9D;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 10vh;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
    width: 80vw;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80vw;
}

li {
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
}

a {
    text-decoration: none;
    color:#FBEFF3;
    font-family: 'Kanit';
    font-weight: 300;
}

a:hover {
    color: #EBADC2;
    transition: 0.4s;
}

.banner {
    width: 100%;
}

.titleSection {
    
}