@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700;900&display=swap');

body {
    margin: 0;
    background-color: #ffffff;
}

/* Navigation Bar */
#header-img {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    height: 10vh;
}

.logo {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    font-weight: 900;
    color:#ffffff;
    margin: 0;
    padding: 10px;
}

#header {
    position: fixed;
    background-color:#83A858;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 10vh;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
    width: 80vw;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80vw;
}

li {
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
}

a {
    text-decoration: none;
    color:#ffffff;
    font-family: 'Kanit';
    font-weight: 300;
}

a:hover {
    color: #5C8126;
    transition: 0.4s;
}

/* Banner Photo */
.banner {
    width: 100%;
}

/* E-mail Form */
#form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#email {
  border: none;
  border-radius: 5px;
  background-color:#BCE295;
  display: block;
  margin: auto;
  width: 20vw;
  padding: 15px;
  width: 40vw;
  outline: none;
}

::placeholder {
  color: #ffffff;
}

#submit {
  display: block;
  margin: auto;
  width: 10vw;
  padding: 10px;
  margin-top: 30px;
}

/* Features Section */
#features {
  margin-top: 50px;
  padding: 40px 20px 40px 150px;
  display: flex;
  flex-direction: column;
  background-color: #E1FACB;
}

#featType {
  display: flex;
  flex-direction: column;
}

#premiumMaterials, #fastShipping, #qualityAssurance {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 5vw;
}

#featIcon {
  padding: 25px;
  margin-right: 25px;
}

.featTitle {
  color:#5C8126;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  font-size: 20px;
}

.featDescription {
  color:rgb(158, 158, 158);
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 16px;
}

/* Video Section */
.titleSection {
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  text-align: center;
  color:rgb(158, 158, 158);
  padding: 20px;
}

#video {
  display: block;
  margin: auto;
  padding-bottom: 60px;
}

/* Pricing Section */
#pricing {
  background-color: #E1FACB;
  padding: 70px;
  display: flex;
  flex-direction: row;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  border: 2px solid #83A858;
  margin: 30px;
  padding-bottom: 30px;
  width: 40vw;
}

#small {
  background-color:#83A858;
  padding-left: 103px;
  padding-right: 102px;
}

#medium {
  background-color:#83A858;
  padding-left: 91px;
  padding-right: 91px;
}

#big {
  background-color:#83A858;
  padding-left: 112px;
  padding-right: 113px;
}

#avocadoSize {
  color:#ffffff;
  font-family: 'Kanit';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.price {
  color:#83A858;
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  font-size: 25x;
  margin: 0;
  padding-top: 20px;
}

.description {
  color:rgb(158, 158, 158);
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  background-color:#83A858;
  color:#ffffff;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 17px;
  border-style: none;
  padding: 5px 15px 5px 15px;
}

.btn:hover {
  background-color: #5F832A;
  transition: 0.4s;
}